/*ALERTS*/
#customAlertBox{
    /*display: none;*/
    z-index: 4;
}

#customConfirmBox{
    /*display: none;*/
    z-index: 4;
}

.new-custom-alert{
    display: block;
    opacity: 1;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 5px;
    color: #fff;
    border-radius: 5px;
    transition: opacity 0.6s;
    padding: 15px;
    margin-top: 5px;
    position: relative;
    right: 0;
    top: 0;
}

.new-custom-confirm{
    display: block;
    opacity: 1;
    width: 100%;
    height: 100px;
    margin-right: 0;
    margin-bottom: 5px;
    color: #fff;
    border-radius: 3px;
    transition: opacity 0.6s;
    padding: 15px;
    margin-top: 5px;
}

.alert {
    /*padding: 20px;*/
    /*background-color: #f44336;*/
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    width: 250px;
    float: right;
    position: relative;
    right: 0;
    /*top: 80px;*/
    margin-right: 10px;
}

/*.new-custom-alert.success {background-color: #4CAF50;}*/
/*.new-custom-alert.info {background-color: #2196F3;}*/
/*.new-custom-alert.warning {background-color: #ff9800;}*/
/*.new-custom-alert.error {background-color: #d62728;}*/

/*.alert.success {background-color: #4CAF50;}*/
/*.alert.info {background-color: #2196F3;}*/
/*.alert.warning {background-color: #ff9800;}*/
/*.alert.error {background-color: #d62728;}*/

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


.new-custom-alert{
    background-color: #757575;
}
/*color: #fff; font-weight: bolder; background-color: green;*/